body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero{
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    background-size: auto;
    background-position: right center;
    padding-top: 1px;
}

.hero-content{
    text-align: center;
    color: white;
    margin: 50px;
}

.hero-content h1{
    font-size: 72px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 120px;
}

.hero-content p{
    font-size: 24px;
    background-color: rgba(0, 0, 0, .7);
    padding: 15px;
    display: inline-block;
    border-bottom: 2px solid;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0px 0px;
}

.hero nav li{
    display: inline-block;
    border: 2px solid, white;
    margin-left: 16px;
}

.hero nav a{
    background-color: rgba(0, 0, 0, .3);
    padding: 13px;
    display: block;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.hero nav a:hover{
    background-color: rgba(0, 0, 0, .6)
}

section{
margin-top: 25px;
}
article{
    background-color: white;
    max-width: 1060px;
    margin: auto;
    padding: 16px;
    margin-top: 25px
}

article h2{
    background-color: #ccc;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 1px solid gray;
}

.btn{
    background-color: #cdc7c3;
    padding: 14px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    width: fit-content;
}

.main{
    color: white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
    background-color: #6d6c68;
    padding: 30px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}